<p id="notice"><%= notice %></p>

<p>
  <strong>Shop name:</strong>
  <%= @restaurant.shop_name %>
</p>

<p>
  <strong>Phon number:</strong>
  <%= @restaurant.phon_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @restaurant.homepage %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
